/* ↔️ max-width + ↕️ max-height ================================================ */

@media only screen and (max-height: 700px) {
  body {
    background-color: #00ff00;
  }
  #mainText1 {
    bottom:10px;
    rotate: 15deg;
    left:0px;
    text-align: left;
    font-size: 50px;
    line-height: 50px;
    font-variation-settings: "opsz" 100, "wght" 100, "GRAD" 100, "wdth" 151, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  }
  #mainText2 {
    font-size: 150px;
    right:0px;
    font-variation-settings: "opsz" 300, "wght" 300, "GRAD" 200, "wdth" 200, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  }
  #mainText3 {
    font-size: 200px;
    font-variation-settings: "wght" 200;
  }
}
@media only screen and (max-width: 700px) {
  body {
    background-color: blue;
  }
  #mainText1 {
    color: aliceblue;
    font-size:150px;
  }
  #mainText2 {
    font-size: 100px;
    right:0px;
  }
  #mainText3 {
    font-size: 0px;
  }
}

