/* font: import ================================================ */
@font-face {
  font-family: 'variableFont';
  src: url('./font/RobotoFlex.ttf') format('truetype');
}
@font-face {
  font-family: 'tiny';
  src: url('font/Tiny.ttf') format('truetype');
}


/* Layout ================================================ */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: background-color 1s ease-in-out;
  background-color: rgb(255, 255, 255);
  /* background-image: url('./img/tiri_oracle1.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* text ================================================ */
#mainText1 {
  position: fixed;
  top: 20px;
  left: 20px;
  rotate: 0deg;
  font-family: 'variableFont';
  font-size: 230px;
  color: rgb(255, 0, 174);
  text-align: left;
  letter-spacing: 0px;
  line-height: 210px;
  /* text-wrap: nowrap; */

	font-variation-settings: "opsz" 144, "wght" 600, "GRAD" 150, "wdth" 151, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: rotate 1s ease-in-out, font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}


#mainText2 {
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: 'variableFont';
  font-size: 230px;
  color: rgb(255, 0, 174);
  text-align: right;
  letter-spacing: 0;
  line-height: 200px;
  /* text-wrap: nowrap; */
  
	font-variation-settings: "opsz" 144, "wght" 600, "GRAD" 150, "wdth" 151, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}

#mainText3 {
  position: fixed;
  top: 450px;
  left: 100px;
  font-family: 'tiny';
  font-size: 250px;
  color: blue;
  text-align: left;
  letter-spacing: 0;
  line-height: 200px;
  /* text-wrap: nowrap; */
  font-variation-settings: "wght" 100;
  transition: font-size 0.5s ease-in-out, font-variation-settings 1s ease-in-out;
}

#mainText4 {
  position: fixed;
  top: 200px;
  left: 100px;
  font-family: 'variableFont';
  font-size: 0px;
  color: white;
  text-align: left;
  letter-spacing: 0px;
  line-height: 100px;
  text-wrap: nowrap;
  font-variation-settings: "opsz" 50, "wght" 100, "GRAD" 150, "wdth" 151, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: font-size 0.5s ease-in-out, font-variation-settings 1s ease-in-out;
  
}

.wave-text span {
  display: inline-block;
  animation: wave 1.5s ease-in-out infinite;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.wave-text span:nth-child(1)  { animation-delay: 0s; }
.wave-text span:nth-child(2)  { animation-delay: 0.05s; }
.wave-text span:nth-child(3)  { animation-delay: 0.1s; }
.wave-text span:nth-child(4)  { animation-delay: 0.15s; }
.wave-text span:nth-child(5)  { animation-delay: 0.2s; }
.wave-text span:nth-child(6)  { animation-delay: 0.25s; }
.wave-text span:nth-child(7)  { animation-delay: 0.3s; }
.wave-text span:nth-child(8)  { animation-delay: 0.35s; }
.wave-text span:nth-child(9)  { animation-delay: 0.4s; }
.wave-text span:nth-child(10) { animation-delay: 0.45s; }


/* Image ================================================ */

.lucy {
  width: 400px;
  display: block;
  position: fixed;   /* ⭐关键 */
  top: 100px;
  left: 1200px;
  rotate: -10deg;
  z-index: -1;
}

.tiri {
  width: 300px;
  display: block;
  position: fixed;   /* ⭐关键 */
  top: 600px;
  left: 50px;
  rotate: 10deg;
  z-index: -1;
}

.map {
  width: 300px;
  display: none;
  position: fixed;   /* ⭐关键 */
  top: 400px;
  left: 200px;
  z-index: -1;
}

.luna {
  width: 200px;
  display: none;
  position: fixed; /* 或 absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
